footer {
    text-align: center;
    background-color: #d4e9ff;
    padding: 12px;
    border-radius: 8px;
    margin: 4px;
    z-index: 2;
}

footer p {
    color: rgb(124, 130, 138);
    font-size: 0.5em;
    margin: 4px;
}
