.footer {
    text-align: center;
    background-color: var(--color-bg-pale);
    padding: 12px;
    border-radius: 8px;
    margin: 4px;
    z-index: 2;
}

.footer-text {
    color: var(--color-text-muted);
    font-size: 0.5em;
    margin: 4px;
}
