header {
    background-color: #d4e9ff;
    padding: 4px;
    text-align: center;
    border-radius: 8px;
    margin: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    color: rgb(50, 107, 186);
    font-size: 2em;
    font-weight: bold;
    margin: 0;
    flex-grow: 1;
}
.logo-wrapper {
    flex-grow: 1;
    display: flex;
    justify-content: center; /* 가운데 정렬 */
}

.logo-wrapper img {
    width: 48px;
    border-radius: 50%;
    object-fit: cover;
}
header .logo-wrapper:first-of-type {
    justify-content: flex-start;
    padding-left: 16px;
}

header .logo-wrapper:last-of-type {
    justify-content: flex-end;
    padding-right: 16px;
}
