.infinite-banner {
    width: 60%;
    margin: 0;
    overflow: hidden;
    padding: 32px 0;
    background-color: #dfe8ff;
    box-sizing: border-box;
    border-radius: 8px;
}

.banner-track {
    display: flex;
    direction: row;
    width: max-content;
    animation: scrollBanner 30s linear infinite;
    box-sizing: border-box;
}

.banner-track img {
    width: 160px;
    max-width: 25vw;
    height: auto;
    margin-right: 16px;
    border-radius: 8px;
    object-fit: cover;
    flex-shrink: 0;
}

@keyframes scrollBanner {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-50%);
    }
}

@media (max-width: 768px) {
    .banner-track {
        animation-duration: 60s;
    }
}
