:root {
    --color-bg: #ffdf865b;
    --color-btn-bg: #ffd786;
    --color-btn-light: #fffaec;
    --color-text: #2d1703;
    --color-border: #481c00;

    --color-primary: #c7f16c;
    --color-danger: #f44336;
    --color-accent: #2196f3;
}

body {
    background-color: var(--color-bg);
    width: 60%;
    min-width: 500px;
    justify-self: center;
    align-self: center;
}
